@use './colors';
@use './fonts';
@use './sizes';
@use './shadows';

article {
  @include shadows.drop-shadow(colors.$body-shadow);
  background: colors.$blue;
  max-inline-size: 100%;
  margin: 4rem auto;
  padding: sizes.$base-padding;
  block-size: auto;

  @media(min-width: 768px) {
    padding: 2rem;
  }

  &:first-of-type {
    margin-block-start: 2rem;
  }

  h2 {
    display: block;
    background-color: colors.$yellow;
    color: colors.$body-text;
    text-align: center;
    margin: 0;
    inline-size: 100%;
    padding: 2rem 1rem;
    text-shadow: 1px 1px 0 colors.$yellow, 3px 3px 0 colors.$yellow-shadow;
    box-shadow: 0 2px 4px colors.$blue-shadow;
  }

  section {
    inline-size: 100%;
    margin: 0 auto;
    padding: sizes.$base-padding;
    background: colors.$body-bg;
    box-shadow: 0 2px 4px colors.$blue-shadow;

    @media(min-width: 768px) {
      inline-size: calc(100% - 4rem);
      padding: 1lh;
    }
  }
}