@use 'sass:color';
@use './colors';
@use './fonts';
@use './sizes';

button {
  background-color: colors.$button-bg;
  color: colors.$button-fg;
  text-shadow: 0 2px 0 colors.$button-bg-shadow;
  box-shadow: 0 4px 4px colors.$input-shadow;
  padding: sizes.$size-2 sizes.$size-4;
  border: none;
  font-family: fonts.$heading;
  text-transform: uppercase;
  font-size: sizes.$size-4;
  line-height: normal;
  block-size: fit-content;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: colors.$button-hover-fg;
    transform: scale(0.9);
    box-shadow: 0 sizes.$size-1 sizes.$size-1 colors.$input-shadow;
    transition: all 0.2s ease;
  }

  &:active {
    transform: scale(0.8);
  }

  // TODO: shadow mixins

  &[data-variant=success] {
    background-color: colors.$success-bg;
    text-shadow: 0 2px 0 colors.$success-shadow;
  }

  &[data-variant=info] {
    background-color: colors.$info-bg;
    text-shadow: 0 2px 0 colors.$info-shadow;
  }

  &[data-variant=error] {
    background-color: colors.$error-bg;
    color: colors.$error-fg;
    text-shadow: 0 2px 0 colors.$error-shadow;
  }

  &[data-variant=warning] {
    background-color: colors.$warning-bg;
    color: colors.$warning-fg;
    text-shadow: 0 2px 0 colors.$warning-shadow;
  }

  &[data-variant=outline] {
    background-color: transparent;
    color: colors.$text;
    border: solid sizes.$size-1 colors.$text;
    text-shadow: unset;
  }

  &[data-variant=ghost] {
    background-color: transparent;
    color: colors.$text;
    text-shadow: unset;
    box-shadow: unset;
  }

  &:disabled {
    background-color: color-mix(in hsl, colors.$button-bg, transparent 80%);
    color: color-mix(in hsl, colors.$button-bg, transparent 60%);
    box-shadow: unset;
    text-shadow: unset;
    cursor: not-allowed;

    &:hover {
      transform: unset;
    }
  }
}