// BASE VARIABLES
$blue-100: hsl(180, 25%, 10%);
$blue-200: hsl(180, 25%, 20%);
$blue-300: hsl(180, 25%, 30%);
$blue-400: hsl(180, 25%, 40%);
$blue-500: hsl(180, 25%, 50%);
$blue-600: hsl(180, 25%, 60%);
$blue-700: hsl(180, 25%, 70%);
$blue-800: hsl(180, 25%, 80%);
$blue-900: hsl(180, 25%, 90%);
$blue-950: hsl(180, 25%, 95%);

$green-100: hsl(140, 25%, 10%);
$green-200: hsl(140, 25%, 20%);
$green-300: hsl(140, 25%, 30%);
$green-400: hsl(140, 25%, 40%);
$green-500: hsl(140, 25%, 50%);
$green-600: hsl(140, 25%, 60%);
$green-700: hsl(140, 25%, 70%);
$green-800: hsl(140, 25%, 80%);
$green-900: hsl(140, 25%, 90%);
$green-950: hsl(140, 25%, 95%);

$red-100: hsl(0, 80%, 10%);
$red-200: hsl(0, 80%, 20%);
$red-300: hsl(0, 80%, 30%);
$red-400: hsl(0, 80%, 40%);
$red-500: hsl(0, 80%, 50%);
$red-600: hsl(0, 80%, 60%);
$red-700: hsl(0, 80%, 70%);
$red-800: hsl(0, 80%, 80%);
$red-900: hsl(0, 80%, 90%);
$red-950: hsl(0, 80%, 95%);

$yellow-100: hsl(50, 100%, 10%);
$yellow-200: hsl(50, 100%, 20%);
$yellow-300: hsl(50, 100%, 30%);
$yellow-400: hsl(50, 100%, 40%);
$yellow-500: hsl(50, 100%, 50%);
$yellow-600: hsl(50, 100%, 60%);
$yellow-700: hsl(50, 100%, 70%);
$yellow-800: hsl(50, 100%, 80%);
$yellow-900: hsl(50, 100%, 90%);
$yellow-950: hsl(50, 100%, 95%);

$brown-100: hsl(0, 14%, 10%);
$brown-200: hsl(0, 14%, 20%);
$brown-300: hsl(0, 14%, 30%);
$brown-400: hsl(0, 14%, 40%);
$brown-500: hsl(0, 14%, 50%);
$brown-600: hsl(0, 14%, 60%);
$brown-700: hsl(0, 14%, 70%);
$brown-800: hsl(0, 14%, 80%);
$brown-900: hsl(0, 14%, 90%);
$brown-950: hsl(0, 14%, 95%);

// SEMANTIC VARIABLES
$blue: $blue-700;
$blue-shadow: $blue-500;

$pink: $red-800;
$pink-shadow: $red-700;

$green: $green-700;
$green-shadow: $green-500;

$yellow: $yellow-800;
$yellow-shadow: $yellow-500;

// COMPONENT VARIABLES

$body-bg: $yellow-950;
$body-shadow: $brown-800;
$body-text: $brown-500;

$link-fg: $red-700;
$link-bg: $red-800;

$blockquote-fg: $brown-300;
$blockquote-link-fg: $red-400;
$blockquote-link-bg: $yellow-900;

$input-bg: $blue-900;
$input-bg-shadow: $blue-700;
$input-shadow: $brown-700;
$input-fg: $blue-300;
$input-placeholder: $blue-600;
