@use './colors';
@use './fonts';

:root {
  --header-height: 200px;
}

header {
  display: flex;
  flex-flow: column wrap;
  container-type: inline-size;
  padding-block-end: 1rem;

  @media(min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr fit-content(100cqb);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2px;
    background: colors.$brown-700;
    padding: 0;
  }

  h1, p, nav {
    background-color: colors.$body-bg;
  }

  h1 {
    display: inline;
    min-block-size: 1lh;
    block-size: auto;
    font-size: clamp(2rem, calc(12cqi + 0.5rem), 4rem);
    padding: 0;
    padding-inline-start: 0.25rem;
    border-block-end: solid 2px colors.$brown-700;
    margin-block-end: 1rem;

    @media(min-width: 768px) {
      display: block;
      inline-size: 100%;
      font-size: 4rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      border: 0;
      margin: 0;
    }
  }

  p {
    margin-block-start: 1rem;
    padding-block: 1rem;
    color: colors.$red-700;
    text-shadow: 1px 1px 0 #eed;
    border-block: solid 2px colors.$brown-700;

    @media(min-width: 768px) {
      margin: 0;
      border: 0;
    }
  }
}

nav {
  @media(min-width: 768px) {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    place-items: center;
    margin: 0;
  }

  section {
    background: colors.$red-800;
    border-inline-start: solid 0.5lh colors.$red-700;
    padding-block: 0.5rem;
    block-size: 100%;

    @media(min-width: 768px) {
      border-radius: 50%;
      border: 0;
      block-size: 100%;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      padding: 0;
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      border: 0;
      block-size: fit-content;
      text-align: center;
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      @media(min-width: 768px){
        flex-flow: column nowrap;
        justify-content: center;
        gap: 0.25lh;
      }

      li {
        font-family: fonts.$heading;
        font-size: 1rem;
        color: colors.$yellow-900;
        text-transform: uppercase;
        line-height: 1.2;
        text-shadow: 0 0.05lh 0 colors.$red-800, 0 0.1lh 0 colors.$red-700;

        @media(min-width: 768px) {
          font-size: 1.25rem;
        }

        a {
          color: colors.$yellow-900;
          background-image: none;
          transition: color 0s 0s;

          &:hover {
            color: colors.$yellow-700;
            transition: color 0s 0s;
          }
        }
      }
    }
  }
}