@use 'sass:color';
@use './colors';
@use './fonts';
@use './sizes';
@use './shadows';

@use 'inputs/checks-radios';
@use 'inputs/switch';
@use 'inputs/range';
@use 'inputs/file';

// labels and fieldsets

label,
fieldset {
  @include shadows.drop-shadow(colors.$body-shadow);
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: flex-start;
  min-inline-size: 20ch;
  inline-size: fit-content;
  max-inline-size: 100%;
  block-size: fit-content;
  font-weight: 700;
  margin-block-end: 1lh;
  background: colors.$yellow;
  padding: 0.5lh;
  border: 0;
}

fieldset > label {
  background-color: transparent;
  box-shadow: unset;
  display: block;
  margin-block-end: 0;
  min-inline-size: 20ch;
  max-inline-size: 100%;
}

fieldset > legend {
  display: block;
  background: colors.$input-bg;
  color: colors.$body-text;
  font-family: fonts.$heading;
  text-transform: uppercase;
  padding: sizes.$pad-xxs sizes.$pad-md;
  cursor: default;
  box-shadow: 0 2px 2px colors.$body-shadow;
}

// inputs

input:not([type=file], [type=range]),
textarea,
select,
datalist {
  border: 0;
  color: colors.$input-fg;
  background-color: colors.$input-bg;
  padding: 0.5rem 1rem;
  font-family: fonts.$body;
  font-size: 1rem;
  box-sizing: border-box;

  &::placeholder {
    color: colors.$input-placeholder;
  }
}

// label containing radio or checkbox

label:has([type=radio], [type=checkbox]) {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  place-items: center start;
}

label:has(input:disabled),
input:disabled {
  box-shadow: unset;
  cursor: not-allowed;
}

fieldset>label:has(input:disabled) {
  opacity: 0.5;
}

input:not([type=file], [type=range], [type=radio], [type=checkbox]),
textarea,
select {
  @include shadows.input-inset();
  inline-size: 100%;

  &::placeholder {
    color: colors.$input-placeholder;
  }

  &:disabled {
    box-shadow: none;
    background-color: color.mix(colors.$input-bg, transparent, $weight: 50%);
  }

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-inline-end: 2px;
    filter: invert(0.8);
  }
}

input[type=color] {
  all: unset;
  block-size: 2rem;
  inline-size: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

  &::-webkit-color-swatch {
    @include shadows.input-inset();
    border: none;
  }
}

// select

select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}

// textarea

textarea {
  resize: none;
}
