@use './colors';
@use './sizes';

[popover] {
  position: relative;

  &:popover-open {
    inline-size: calc(100vw - sizes.$size-6);
    block-size: fit-content;
    display: grid;
    place-items: center;
    position: fixed;
    inset: unset;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border: none;
    overflow: auto;
    box-shadow: 0 0 1rem colors.$body-text;

    @media(min-width: calc(768px + sizes.$size-6)) {
      inline-size: 768px;
    }

    button.close-button {
      position: fixed;
      inset-inline-end: 0.5rem;
      inset-block-start: 0.5rem;
      block-size: 2lh;
      inline-size: 2lh;
      font-size: 1rem;
      line-height: 1;
      cursor: pointer;
      padding: 0;
      border-radius: 50%;
      display: grid;
      place-items: center;
      box-shadow: 0 4px 4px colors.$blue-shadow;
    }
  }

  &::backdrop {
    background: color-mix(in hsl, colors.$body-shadow, transparent 50%);
    backdrop-filter: blur(3px);
    pointer-events: none;
  }
}