@use './colors';
@use './fonts';
@use './sizes';

:root {
  --blue: #{colors.$blue};
  --blue-shadow: #{colors.$blue-shadow};
  --pink: #{colors.$pink};
  --pink-shadow: #{colors.$pink-shadow};
  --green: #{colors.$green};
  --green-shadow: #{colors.$green-shadow};
  --yellow: #{colors.$yellow};
  --yellow-shadow: #{colors.$yellow-shadow};

  --body-bg: #{colors.$body-bg};
  --body-shadow: #{colors.$body-shadow};
  --body-text: #{colors.$body-text};

  --link-fg: #{colors.$link-fg};
  --link-bg: #{colors.$link-bg};

  --blockquote-fg: #{colors.$blockquote-fg};
  --blockquote-link-fg: #{colors.$blockquote-link-fg};
  --blockquote-link-bg: #{colors.$blockquote-link-bg};

  --input-bg: #{colors.$input-bg};
  --input-bg-shadow: #{colors.$input-bg-shadow};
  --input-shadow: #{colors.$input-shadow};
  --input-fg: #{colors.$input-fg};
  --input-placeholder: #{colors.$input-placeholder};
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: colors.$body-bg;
  font-family: fonts.$body;
  font-size: sizes.$text-body;
  line-height: sizes.$text-body-lh;
  color: colors.$body-text;
}

img {
  border: 0;
}
