// BASE VARIABLES
$size-1: 2px;
$size-2: 4px;
$size-3: 8px;
$size-4: 16px;
$size-5: 24px;
$size-6: 40px;
$size-7: 64px;
$size-8: 104px;

// SEMANTIC VARIABLES
$text-body: $size-4;
$text-body-lh: $size-5;