@use "sass:color";
@use './colors';
@use './fonts';
@use './sizes';

p {
  margin-block-end: 1rem;

  &:last-child {
    margin-block-end: 0;
  }
}

h1 {
  font-family: fonts.$cursive;
  font-size: sizes.$size-7;
  line-height: sizes.$size-7;
  color: colors.$heading-1;
  text-shadow: sizes.$size-1 sizes.$size-1 0 colors.$body-bg, sizes.$size-2 sizes.$size-2 0 colors.$heading-1-shadow;
}

h2 {
  font-family: fonts.$heading;
  font-size: sizes.$size-6;
  line-height: sizes.$size-6;
  letter-spacing: -2px;
  text-shadow: 1px 1px 0 colors.$body-bg, sizes.$size-1 sizes.$size-1 0 colors.$heading-shadow;

  &:first-letter {
    font-family: fonts.$cursive;
    font-size: sizes.$size-7;
    line-height: sizes.$size-7;
    text-transform: uppercase;
  }
}

h3 {
  font-family: fonts.$heading;
  font-weight: normal;
  font-size: sizes.$size-5;
  line-height: sizes.$size-5;
  letter-spacing: sizes.$size-1;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 colors.$body-bg, sizes.$size-1 sizes.$size-1 0 colors.$heading-shadow;
}

h4 {
  font-family: fonts.$cursive;
  font-size: sizes.$size-5;
  line-height: sizes.$size-5;
  text-shadow: 1px 1px 0 colors.$body-bg, sizes.$size-1 sizes.$size-1 0 colors.$heading-shadow;
}

h5 {
  font-family: fonts.$heading;
  font-size: sizes.$size-4;
  line-height: sizes.$size-5;
  letter-spacing: -0.5px;
}

h6 {
  font-family: fonts.$heading;
  font-size: sizes.$size-4;
  line-height: sizes.$size-5;
  letter-spacing: -0.5px;
  color: colors.$heading-6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: sizes.$size-5;
}

a {
  text-decoration: none;
  color: colors.$link-fg;
  background-image: linear-gradient(colors.$link-bg);
  background-size: 200% 0.25rem;
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-size .3s, background-position .3s .3s;

  &:hover {
    color: colors.$article-content-bg;
    transition: background-size .3s .3s, background-position .3s, color .3s .3s;
    background-size: 200% 100%;
    background-position: 100% 100%;
  }

  @starting-style {
    &:hover {
      background-size: 200% 0.25rem;
      background-position: 200% 100%;
    }
  }
}

blockquote {
  background: colors.$blockquote-bg;
  border-inline-start: solid 0.5lh colors.$blockquote-border;
  padding: 0.5lh;
  color: colors.$blockquote-fg;
  margin-block-end: 1lh;

  p {
    margin-block-end: 1rem;

    &:last-child {
      margin-block-end: 0;
    }
  }

  a {
    color: colors.$blockquote-link-fg;
    background-image: linear-gradient(colors.$blockquote-link-bg);

    &:hover {
      color: colors.$blockquote-border;
    }
  }

  img {
    inline-size: 95%;
  }
}

ul,
ol {
  margin: 2rem 0;
  padding-inline: 1.5lh;
  border-inline-start: solid 0.5lh colors.$list-border;
}

pre {
  background: colors.$pre-bg;
  border-inline-start: solid 0.5lh colors.$pre-border;
  padding: 0.5lh;
  overflow: hidden;
}

code {
  background-color: color-mix(in hsl, colors.$blockquote-bg 20%, transparent 80%);
  border-radius: 0.2rem;
}

blockquote code {
    background-color: color-mix(in hsl, colors.$body-bg 30%, transparent 70%);
}