@use './colors';
@use './fonts';
@use './sizes';

[data-variant=primary] {
  background-color: colors.$blue;
  color: colors.$body-bg;
  text-shadow: 0 1px 0 colors.$blue-shadow;
  border: solid sizes.$pad-xxs transparent;
  box-sizing: content-box;
}

[data-variant=success] {
  background-color: colors.$green;
  color: colors.$body-bg;
  text-shadow: 0 1px 0 colors.$green-shadow;
  border: solid sizes.$pad-xxs transparent;
  box-sizing: content-box;
}

[data-variant=info] {
  background-color: colors.$input-bg;
  color: colors.$input-fg;
  text-shadow: 0 1px 0 colors.$input-placeholder;
  border: solid sizes.$pad-xxs transparent;
  box-sizing: content-box;
}

[data-variant=error] {
  background-color: colors.$pink;
  color: colors.$red-300;
  text-shadow: 0 1px 0 colors.$pink-shadow;
  border: solid sizes.$pad-xxs transparent;
  box-sizing: content-box;
}

[data-variant=warning] {
  background-color: colors.$yellow;
  color: colors.$body-text;
  text-shadow: 0 1px 0 colors.$yellow-shadow;
  border: solid sizes.$pad-xxs transparent;
  box-sizing: content-box;
}

[data-variant=outline] {
  background-color: colors.$body-bg;
  color: colors.$body-text;
  border: solid sizes.$pad-xxs colors.$body-text;
  text-shadow: unset;
  box-sizing: content-box;
}

[data-variant=ghost] {
  background-color: transparent;
  color: colors.$body-text;
  text-shadow: unset;
  box-shadow: unset;
  border: solid sizes.$pad-xxs transparent;
  box-sizing: content-box;
}