@use '../colors';
@use '../sizes';
@use '../shadows';

input[type=checkbox][role="switch"] {
  @include shadows.input-inset();
  border: 0;
  border-radius: calc(sizes.$lg / 2);
  block-size: sizes.$lg;
  inline-size: sizes.$xl;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: sizes.$xs;

  &:before {
    content: "";
    width: sizes.$md;
    height: sizes.$md;
    border-radius: 50%;
    transform: translateX(0);
    transition: 120ms all ease-in-out;
    box-shadow: inset 1em 1em colors.$brown-700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &:checked::before {
    box-shadow: inset 1em 1em colors.$body-text;
    transform: translateX(sizes.$md);
  }

  &:focus {
    outline: solid sizes.$xxs colors.$body-text;
  }
}