@use '../colors';
@use '../sizes';
@use '../shadows';

input[type=checkbox][role="switch"] {
  @include shadows.input-inset();
  border: 0;
  border-radius: calc(sizes.$size-5 / 2);
  block-size: sizes.$size-5;
  inline-size: sizes.$size-6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: sizes.$size-2;

  &:before {
    content: "";
    width: sizes.$size-4;
    height: sizes.$size-4;
    border-radius: 50%;
    transform: translateX(0);
    transition: 120ms all ease-in-out;
    box-shadow: inset 1em 1em colors.$brown-700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &:checked::before {
    box-shadow: inset 1em 1em colors.$body-text;
    transform: translateX(sizes.$size-4);
  }

  &:focus {
    outline: solid sizes.$size-1 colors.$body-text;
  }
}